.image1 {
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url(static/pb_courts.jpg); */
    position: relative;
}

/* .hover {
    opacity: 1;
    transition-duration: 1s;
} */

.hover:hover {
    opacity: 0;
}

.image1 > img {
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;  
}

img.top:hover {
    opacity: 0;
}
