.image1 img {
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;  
}

img.top:hover {
    opacity: 0;
}

.text-center {
    text-align: center;
}

.banner {
    width: 25%;
    height: 50%;
}